{%- set external_urls = {
  'github': 'https://github.com/roblcu/ripple',
  'contributing': 'https://github.com/robclu/ripple/CONTRIBUTING.md',
  'home': 'https://github.com/robclu/ripple',
  'docs': '',
  'examples' : '',
  'tutorials': '',
  'get_started': '',
  'features': '',
}
-%}

{%- set variables = {
  'name' : 'Ripple'
 } 
 -%}
